
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
cover.out
*.coverprofile
profile.cov

# Dependency directories (abaikan jika Anda menggunakan Vendor)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE specific files (VS Code, GoLand, dll)
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
